.delete-fa-icon {
    color: #FD5D5D;
    transition: transform .2s;
    cursor: pointer;
}

.delete-fa-icon:hover {
    transform: scale(1.5);
}

.delete-label {
    text-align: center;
}

.btn-delete {
    margin-top: 20px;
    text-align: center;
}

.confirm-delete {
    background-color: #FD5D5D;
    width: 20%;
    color: rgb(255, 255, 250);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    font-family: Poppins,sans-serif;
    transition: background-color .1s ease-in;
    cursor: pointer;
}

.confirm-cancel {
    background-color: #C3C3C3;
    width: 20%;
    margin-left: 20px;
    color: rgb(6, 6, 4);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    font-family: Poppins,sans-serif;
    transition: background-color .1s ease-in;
    cursor: pointer;
}