.navigation {
    border-bottom: 1px solid #eaecf3;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    background-color: #fff;
}
.nav-links {
    flex-grow: 1;
}
.nav-links ul li {
    display: inline-block;
    position: relative;
}
.nav-links ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #5c5589;
    padding: 0 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-auth {
    margin-left: auto;
}
.nav-auth a {
    font-size: 14px;
    text-decoration: none;
    padding: 0 24px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 600;
}
.nav-auth .sign-up {
    margin-right: 15px;
    background-color: rgb(96, 79, 205, 1);
    border: 1px solid rgb(19, 11, 67, 1);
    color: rgb(255, 255, 255, 1);
}

.nav-auth .log-in {
    background-color: rgb(250, 250, 255, 1);
    border: 1px solid rgb(96, 79, 205, 1);
    color: rgb(96, 79, 205, 1);
}
.user-section {
    display: flex;
    align-items: center;
}
.user-section:hover {
    cursor: pointer;
}
.user-avatar {
    box-shadow: 0 4px 16px 0 rgb(79 114 205 / 30%);
    height: 42px;
    margin-right: 16px;
    width: 42px;
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    flex-shrink: 0;
}
.dropdown-icon {
    height: 16px;
    width: 16px;
}
.user-menu-dropdown {
    position: absolute;
    inset: 0px 0px auto auto;
    transform: translate(-20px, 70px);
    z-index: 3;
}
.user-menu-dropdown ul {
    --tw-shadow: 0px 4px 42px 0px rgba(79,114,205,.15);
    background-color: #fff;
    border-radius: 8px;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    min-width: 350px;
    list-style: none;
}
.user-menu-dropdown ul li a, .sign-out{
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    background-color: #fff;
    color: #5c5589;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 170%;
    text-decoration: none;
}
.user-menu-dropdown ul li a:hover, .sign-out:hover {
    background-color: rgb(250, 250, 250);
    color: #000;
}
.sign-out:hover {
    cursor: pointer;
}
li.profile a .info .name {
    color: #130b43;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
}
li.profile a .info .handle {
    color: #5c5589;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
}
.compact {
    display: none;
}
@media screen and (max-width: 1000px) {
    .navigation {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 2;
    }
}
@media screen and (max-width: 450px) {
    .nav-links {
        display: none;
    }
    .compact {
        display: block;
    }
    .user-section {
        margin-left: auto;
    }
}