.lecture-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.lecture-box {
    display: flex;
    border-left: 0.375rem solid #3a10e5;
    background-color: #fff;
}
.lecture-index{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .15rem;
    color: #646466;
    width: 8rem;
    padding: 2rem 1rem;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}
.lecture-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    padding: 2rem 0;
}
.lecture-overview h2 {
    color: rgb(96, 79, 205, 1);
    margin-bottom: 8px;
}
.lecture-overview p {
    font-size: 17px;
}
.lecture-view {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    flex-direction: column;
}
.view-button {
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    height: 40px;
    border: 2px solid #3A10E5;
    color: #3A10E5;
    background-color: #fff;
}
.lesson-list-show {
    grid-template-columns: repeat(1, minmax(0,1fr));
    display: grid;
    padding: 16px 16px;
    margin-left: 0.375rem;
}
.lesson-list-hidden {
    display: none;
}
.lesson-box {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px 8px;
    margin-left: 10%;
}
.lesson-box p {
    font-size: 18px;
    line-height: 48px;
    color: rgb(96, 79, 205, 1);
    font-weight: 300;
    flex-grow: 1;
}
.lecture-modify {
    display: flex;
    grid-column-gap: 2.5rem;
    align-items: center;
    margin-bottom: 8px;
}
.lesson-modify {
    display: flex;
    grid-column-gap: 30px;
    margin-left: 50px;
}
@media screen and (max-width: 1000px) {
    .lecture-list {
        width: 100%;
    }
    .lecture-overview p{
        font-size: 18px;
    }
}
@media screen and (max-width: 640px) {
    .lecture-overview p{
        font-size: 14px;
    }
    .view-button {
        display: none;
    }
    .lesson-box p {
        font-size: 14px;
    }
}