.course-container .header {
    display: flex;
    padding: 16px 16px 16px;
    align-items: center;
    height: 100px;
    box-shadow: 0px 4px 10px 0px rgba(79,114,205,.15);
    position: relative;
}
.course-container .header-text {
    display: flex;
    align-items: center;
}
.course-container img.icon {
    height: 54px;
    width: 54px;
    margin-right: 16px;
}
.course-container .title {
    font-size: 32px;
    font-weight: 700;
    margin-right: 16px;
}
.course-container .students {
    display: flex;
    align-items: center;
}

.course-container .students img {
    margin-right: 8px;
}

.course-container .course-info {
    display: flex;
    padding: 40px 0 56px 0;
    align-items: flex-start;
    border-bottom: 3px solid #eaecf3;
}

.course-container .about-text {
    max-width: 750px;
    margin-right: auto;
    margin-bottom: 32px;
}
.course-container .about-text-desc {
    max-width: 750px;
    margin-bottom: 32px;
}
.hidden {
    height: 150px;
    overflow: hidden;
    position: relative;
}
.course-container .about-text-desc.hidden::after {
    bottom: 0;
    box-shadow: 0 0 25px 15px #fff;
    content: "";
    position: absolute;
    width: 100%;
}
.course-container .about-text h2 {
    margin-bottom: 2rem;
    color: #130b43;
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
}
.course-container .about-text button {
    align-items: center;
    background-color: rgb(225 235 255);
    border-radius: 100px;
    color: rgb(46 87 232);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 170%;
    margin-top: 20px;
    padding: 8px 24px;
}
.syllabus-info {
    padding: 48px 32px 64px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.syllabus-header {
    text-align: center;
    margin-bottom: 16px;
}
.syllabus-header h2 {
    margin-bottom: 8px;
    font-size: 31px;
    text-transform: uppercase;
    color: #130b43;
}
.syllabus-header p {
    font-size: 18px;
    font-weight: 200;
}
.course-info .code-holder {
    width: 450px;
    overflow: scroll !important;
    font-size: 18px !important;
    margin-left: 72px !important;
}
.markdown-container a {
    color: rgb(46 87 232);
    font-weight: 600;
    text-decoration: none;
}
.markdown-container ul {
    margin-bottom: 24px;
    margin-left: 14px;
}
.markdown-container ul li {
    margin-bottom: 8px;
    margin-left: 6px;
    padding-left: 4px;
}
.markdown-container {
    font-size: 18px;
}
.markdown-container p, .markdown-container h2, .markdown-container h1{
    margin-bottom: 12px;
}
.about-text button:hover {
    cursor: pointer;
}
.markdown-container blockquote {
    border-left: 4px solid #cbc9d9;
    color: #5c5589;
    margin-bottom: 24px;
    margin-top: 16px;
    padding-left: 24px;
}
.markdown-container hr {
    border-top: 1px solid;
    color: inherit;
    height: 0;
}
@media screen and (max-width: 768px) {
    .course-info {
        flex-direction: column;
    }
    .course-info .code-holder {
        width: 100%;
        margin: 0 !important;
    }
}
@media screen and (max-width: 640px) {
    .syllabus-info {
        padding-left: 8px;
        padding-right: 8px;
    }
}