.user-avatar-profile {
    box-shadow: 0 4px 16px 0 rgb(79 114 205 / 30%);
    height: 200px;
    margin-right: 2rem;
    width: 200px;
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    flex-shrink: 0;
    margin-left: 10%;
}

.user-profile {
    display: flex;
    padding: 40px 32px 56px 32px;
    --tw-shadow: 0px 10px 20px 0px rgba(79,114,205,.15);
    --tw-ring-offset-shadow: 0 0 #0000;
    background-color: #fff;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-shadow);
    padding-top: 24px;
}
.user-info {
    margin-top: 1rem;
    color: #271A71;
}
.user-info .username {
    align-items: center;
    display: flex;
    margin-bottom: 0.75rem;
}
.user-info .name {
    color: #5c5589;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 1rem;
}
.user-details {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}
.user-details .location {
    align-items: center;
    color: #130b43;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-right: 28px;
}
.user-details .joined {
    align-items: center;
    color: #130b43;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}
.user-details img {
    height: 16px;
    margin-right: 12px;
    width: 16px;
}
.user-about {
    padding: 2.5rem 2.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.user-label {
    margin-bottom: 1rem;
    color: #271A71;
}
.user-label hr {
    border-bottom: 3px solid #271B70;
    width: 32px;
}
.user-bio {
    margin-bottom: 3rem;
}
.user-bio hr {
    width: 32px !important;
}
.user-bio blockquote {
    font-size: 18px;
    width: 80%;
}
.enroll-list {
    grid-template-columns: repeat(3, 200px);
    display: grid;
}
.enroll-list .enroll-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 24px 8px;
    transition: transform .2s ease-out;
    text-decoration: none;
    color: #130b43;
    margin-right: auto;
}
.enroll-item img {
    filter: drop-shadow(0 5px 2px rgba(0, 0, 0,.2));
    flex-shrink: 0;
    height: 80px;
    margin-bottom: 12px;
    width: 80px;
}
.enroll-title {
    font-family: Source Code Pro,monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media screen and (max-width: 768px) {
    .user-profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user-info .username {
        justify-content: center;
    }
    .user-info .name {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-details {
        justify-content: center;
    }
    .user-avatar-profile {
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    .enroll-list {
        grid-template-columns: repeat(2, 160px);
        display: grid;
    }
    .user-about {
        width: 100%;
        padding: 2rem 1.5rem;
    }
}