.learn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 90%;
    margin-top: 64px;
    flex-grow: 1;
}
.learn-navigation {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    height: 100%;
    overflow-y: scroll;
    padding-left: 24px;
}
.learn .lecture-item h2{
    font-weight: 700;
    padding: 6px 0;
    font-size: 21px;
    line-height: 20px;
    color: rgb(96, 79, 205, 1);
    margin-bottom: 1rem;
}
.lesson-item {
    padding: 8px 8px;
    margin-bottom: 0.5rem;
}
.lesson-item:hover {
    cursor: pointer;
}
.lessons {
    margin-bottom: 1rem;
}
.lessons a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}
.selected {
    background-color: #f5f7f8;
    border-left: 0.25rem solid #3a10e5;
}
.navigation-compact {
    display: none;
    position: sticky;
    top: 65px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #eaecf3;
}
.learn-btn {
    color: #271A71;
    font-size: 16px;
    
    text-transform: uppercase;
    font-weight: 600;
}
.learn-btn svg {
    margin-right: 0.5rem;
}
.dropdown-list {
    padding: 1rem 1rem;
    top: 123px;
    z-index: 2;
    position: sticky;
    background-color: #fff;
}
@media screen and (max-width: 1000px) {
    .learn-navigation {
        display: none;
    }
    .navigation-compact {
        display: flex;
    }
    .learn {
        margin: 0;
        flex-flow: column;
        width: 100%;
    }
}