.login { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    background: linear-gradient(1turn,#5141bd,#3e2ea5),linear-gradient(0deg,#2f2768,#2f2768);
    height: 100vh;
}
.form {
    width: 35%;
    margin: 6% auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgb(96, 79, 205, 1);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
}
.form > div{
    display: flex;
    flex-direction: column;
}
.form label {
    margin: 1rem 0;
    display: block;
    font-family: Source Code Pro,monospace;
    font-size: 14px;
    font-weight: 650;
    text-transform: uppercase;
    line-height: 160%;
}
.head {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}
.infor {
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0px 4px 16px 0px rgba(79,114,205,.1);
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #a9a6bd;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000), var(--tw-ring-shadow,0 0 #0000), var(--tw-shadow);
}
.press {
    width: 100%;
    margin: 1.5rem auto;
    display: block;
    background-color: rgb(96 79 205);
    color: rgb(255, 255, 250);
    border-radius: 8px;
    font-size: 18px;
    padding: 12px 28px;
    font-weight: 600;
    height: 50px;
    font-family: Poppins,sans-serif;
    transition: background-color .1s ease-in;
}
.account {
    display: block !important;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
}
.signup {
    width: fit-content;
    text-decoration: none;
    color: rgb(46 87 232);
    font-weight: 500;
}
.forgot-account {
    margin-top: 1.5rem;
}
.forgot-account a {
    color: rgb(46 87 232);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.press:hover {
    background-color: rgb(59 42 147);
    cursor: pointer;
    box-shadow: 0 4px 7px rgb(79 114 205 / 60%);
}
input.infor:focus {
    border: 1px solid #2e57e8;
    outline: none;
}
.input:focus-within label {
    color: #2e57e8;
}
@media screen and (max-width: 1200px) {
    .form {
        width: 70%;
    }
}
@media screen and (max-width: 1200px) {
    .form {
        width: 70%;
    }
}
@media screen and (max-width: 596px) {
    .form {
        width: 90%;
        padding: 16px 24px 16px 24px;
    }
}
