.fa-add-lesson {
    font-size: 18px;
    padding-bottom: 10px;
    margin-left: auto;
    color:rgb(96, 79, 205, 1);
    background-color: transparent;
    transition: transform .2s;
    cursor: pointer;
}

.fa-add-lesson:hover {
    transform: scale(1.5);
}