@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.btn-add {
    padding-left: 20px;
    padding-right: 20px;
    --tw-shadow: 0px 4px 24px 0px rgba(79,114,205,.15);
    box-shadow: var(--tw-ring-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
}
.btn-add:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.c-modal {
  background: rgba(251,252,254,.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.modal-container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.modal-content {
  --tw-shadow: 0px 4px 42px 0px rgba(79,114,205,.3);
  --tw-ring-shadow: 0 0 #0000;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--tw-ring-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  max-height: 90%;
  overflow-y: auto;
  padding: 32px 48px;
  width: 30%
}
.modal-content input {
  width: 100%;
  --tw-shadow: 0px 4px 16px 0px rgba(79,114,205,.1);
  --tw-ring-shadow: 0 0 #0000;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #a9a6bd;
  box-shadow: var(--tw-ring-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  color: #130b43;
  font-size: 16px;
  line-height: 160%;
  padding: 12px 16px;
  margin-bottom: 1rem;
}
.modal-content textarea {
  --tw-shadow: 0px 4px 16px 0px rgba(79,114,205,.1);
  --tw-ring-shadow: 0 0 #0000;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #a9a6bd;
  box-shadow: var(--tw-ring-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  color: #130b43;
  font-size: 16px;
  line-height: 160%;
  padding: 12px 16px;
  margin-bottom: 1rem;
}
.modal-content label {
  color: #130b43;
  display: block;
  font-family: Source Code Pro,monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.header-add {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 0px;
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.add-fa-icon {
    color:rgb(96, 79, 205, 1);
    background-color: transparent;
    transition: transform .2s;
    cursor: pointer;
    height: 5rem;
}
.add {
  display: flex;
  justify-content: center;
}