.fa-delete-lecture {
    background-color: white;
    padding-top: 6px;
    font-size: 18px;
    color: #FD5D5D;
    transition: transform .2s;
    cursor: pointer;
}
.fa-delete-lecture:hover {
    transform: scale(1.5);
}
.fa-edit-lecture {
    font-size: 18px;
    color:rgb(96, 79, 205, 1);
    background-color: transparent;
    transition: transform .2s;
    cursor: pointer;
}
.fa-edit-lecture:hover {
    transform: scale(1.5);
}